:host {
	position: relative;
}

section {
	display: grid;
	grid-template-columns: 4.5em 1fr 4.5em;
	grid-template-rows: 3em 1.5em;

	padding-bottom: 0.25em;
	border-bottom: 0.5em solid;

	.big {
		padding: 16.667%;

		grid-row: 1 / span 2;
		&:first-of-type {
			grid-column: 1;
		}
		&:last-of-type {
			grid-column: 3;
		}

		button {
			width: 100%;
			height: 100%;

			font-size: 1.5em;
			vertical-align: top;
		}
	}

	p {
		margin: 0px;
		padding: 0px;

		text-align: center;

		grid-column: 2;
		&:first-of-type {
			grid-row: 1;

			font-size: 2em;
		}
		&:last-of-type {
			grid-row: 2;
		}
	}

	input {
		grid-column: 2;
		&[type="range"] {
			width: 100%;

			grid-row: 1;
		}
		&[type="text"] {
			grid-row: 2;

			border: 1px solid rgb(128, 128, 128);
			background-color: rgba(128, 128, 128, 0.05);

			text-align: center;

			&:focus {
				background-color: #ffffff;
			}
		}
	}

	.flip {
		position: absolute;
		top: 0px;
		right: 0px;

		border: none;
		background: none;

		cursor: pointer;
	}

	// The filp
	transition: transform 0.3s linear, visibility 0.3s linear;
	transition-delay: 0.3s;

	&.fliped {
		transition-delay: 0s;
		transform: rotateX(90deg);
		visibility: hidden;
	}

	&.back {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
	}
}