nav {
	padding: 10px 20px;

	background-color: #bada55;
	
	position: sticky;
	top: 0px;

	h1 {
		margin: 0px;

		font-size: 2em;
		font-weight: normal;
	}
}

main {
	width: 100%;
	height: auto;

	display: flex;
	flex-direction: column;
	align-content: stretch;

	position: relative;

	button {
		width: 2.4em;
		height: 2.4em;
		margin-top: 1em;

		align-self: center;

		font-size: 1.5em;
	}
}