/* You can add global styles to this file, and also import other style files */

html, body {
	margin: 0px;
	padding: 0px;

	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

	touch-action: manipulation;
}

* {
	box-sizing: border-box;
}

button {
	outline: none !important;
}

button.round {
	padding: 0px;

	display: block;
	border: none;
	border-radius: 50%;
	background: rgba(128, 128, 128, 0.5);
	
	text-align: center;
}